[Desktop Entry]
Name=Hider
GenericName=Hider Gtk App
Comment=An app which helps you to hide documents and files in your Linux system
Categories=GTK;Utility;
Exec=hider
Icon=hider
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hider
Keywords=Hide;Hider;File;
